{% extends 'base.html' %}
{% block title %}ToDo confirm delete{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <h1>Вы точно хотите удалить книгу ?</h1>
        <p>{{ books.name }}</p>
        <p>{{ books.email }}</p>
        <p>{{ books.text }}</p>
        <form action="{% url 'confirm_delete' books.pk %}" method="post">
            {% include 'partial/book_form.html' with button_text='Удалить' %}
            <p><a href="{% url 'index' %}">Отменить</a></p>
        </form>
    </div>
</div>
{% endblock %}