{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block menu %}
    <a href="{% url 'book_add' %}">Add Book</a>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <h1>Гостевая книга</h1>
        {% for book in books %}
        <h4>{{ book.name }} ({{ book.email }})</h4>
        <h4>{{ book.text }}</h4>
        <a href="{% url 'book_update' book.pk %}">Update Book</a>
        <a href="{% url 'book_delete' book.pk %}">Delete Book</a>
        {% endfor %}
    </div>
</div>
{% endblock %}